/* * {
  background-color: black;
} */
.aboutMe {
  scroll-margin-top: 6rem;
}
.aboutMe-header {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #CCC9DC;
  /* margin-bottom: 10px; */
}
.aboutMe-details {
  border: 17px transparent #ff6b35;
  box-shadow: 0.5px 0.5px 8px 0.5px #CCC9DC;
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  padding: 12px;
}
.aboutMe-container {
  max-width: 37rem;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* scroll-margin-top: 1rem; */
}
.aboutMe-card {
  padding: 14px;
  /* scroll-margin-top: 7rem; */
}
