/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--primary-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }
  nav ul.show {
    transform: translateX(0);
  }
  .hero {
    flex-direction: column;
  }

  .projects-container {
    flex-direction: column;
  }
  .project-container {
    width: 17.875rem;
  }
  .aboutMe-container {
    max-width: 40rem;
  }
  /* .personalAchievements-container {
    max-width: fit-content;
  } */
  .contact-form-container {
    max-width: 23.75rem;
  }
}
