@media screen and (max-width: 420px) {
  .hero img {
    height: 17rem;
    width: 16rem;
  }

  .project-container {
    width: 17.875rem;
  }
  .contact-form-container {
    max-width: 19.875rem;
  }
  .personalAchievements-container {
    max-width: 17.875;
  }

  .aboutMe-container {
    max-width: 22.875rem;
  }
}
